<article{{ attributes.addClass('row').addClass('foi-teaser') }}>
    <div class="media">
        <div class="media-body">
            {{ title_prefix }}
            {% if not page %}
                <h2{{ title_attributes.addClass('media-heading') }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h2>
            {% endif %}
            {{ title_suffix }}
            {% if content.field_date_listed %}
            <small class="meta">
                {{ content.field_date_listed }}
            </small>
            {% endif %}
            {% if content.field_proposed_deletion_date %}
            <small class="meta">
                {{ content.field_proposed_deletion_date }}
            </small>
            {% endif %}
            {{ content.field_log_reference_id }}
            {{ content.body }}
        </div>
    </div>
</article>
