<div class="layout-container">
    <div class="uikit-global-nav">
        {{ page.nav_secondary }}
    </div>
    <header id="header" role="banner" class="navbar">
        <nav class="navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <h2 class="brand brand-name navbar-left has-img">
                    <a href="/">
                        <img src="{{ govlogo }}" alt="Australian Government" height="80" />
                        {{ page.header }}
                    </a>
                </h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="container-full main-nav">
        <div class="container">
            <div class="collapse navbar-collapse" id="main-navigation">
                {{ page.nav }}
            </div><!-- /.navbar-collapse -->
        </div>
    </div>
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
    <main class="container">
        <a id="main-content" tabindex="-1"></a>
        <div id="main" class="main-container row">
            <div id="content">
                {% if page.sidebar_first %}
                    <aside class="col-sm-3" role="complementary">
                        {{ page.sidebar_first }}
                    </aside>
                {% endif %}

                <section id="main-content-section" class="col-sm-6 content-section" role="main">
                    <div id="page-content">
                        {{ page.content }}
                    </div>
                </section>

                {% if page.sidebar_second %}
                    <aside class="col-sm-3 right-bar" role="complementary">
                        {{ page.sidebar_second }}
                    </aside>
                {% endif %}
            </div.
        </div>
    </main>
    {% if page.sub_footer %}
        <div class="container-full">
            <div class="highlight-footer">
                <div class="container">
                    {{ page.sub_footer }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if page.footer %}
        <footer>
            <h1 class="sr-only">Footer links</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!--<img src="" alt="Australian Government" width="163">-->
                    </div>
                    <div class="col-md-9">
                        {{ page.footer }}
                        <small>
                            &copy; Commonwealth of Australia <br>
                            <a href="https://creativecommons.org/licenses/by/3.0/au/">Licensed under Creative Commons.</a>
                        </small>
                    </div>
                </div>
            </div>
        </footer>
    {% endif %}

</div>{# /.layout-container #}
